# Données carto : ignorer tout par défaut…
public/data/*

# …mais autoriser les fichiers légers nécessaires au MVP
!public/data/regions.geojson
!public/data/departements.geojson
!public/data/communes.geojson
!public/data/data_region.csv
!public/data/data_departement.csv
!public/data/data_commune.csv

# formats lourds à garder hors git
*.gpkg
*.qgz